/* custom variables */
:root{
    --primary-color:#1F2937;
    --secondary-color:#F9FAF8;
    --accent-color:#3882F6;
    --text-light:#E5E7EB;;
}

/* global styling */
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}

/* layout */
header,.hero-section,footer{
    background-color: var(--primary-color);
    color: #F9FAF8;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
}

.header-logo{
    font-size: 24px;
    color: var(--secondary-color);
    font-weight: 700;
}

header ul{
    display: flex;
    margin: 10;
    padding:0;
    gap: 18px;
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: var(--text-light);
}

.hero-section{
    display: flex;
    flex:1;
}

.hero h2{
    font-size: 48px;
    color: var(--secondary-color);
    font-weight: 900;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%
}

.hero-secondary-text, .header-links{
    font-size: 18px;
    color: var(--secondary-color);
    z-index: 1;
    
}

.information h2{
    font-size: 36px;
    color: var(--primary-color);
    font-weight: 900;
    margin: 3%;
    text-align: center;
}

.card-container{
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.card{
    border-color: var(--accent-color);
}

.quote-section{
    display: flex;
    background-color: var(--text-light);
    padding: 2%;
    margin:0;
}

.quote-section p{
    font-size: 36px;
    font-style: italic;
    color: var(--primary-color);
}

.quote-section span{
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-align: right;
}

.call-to-action-card{
    color: var(--text-light);
    text-align: left;
    display: flex;
    background-color: var(--accent-color);
    margin:18px;
    padding:10px;
    width: 50%;
    text-align: left;
    align-items: center;
}

.cta-btn{
    color: var(--text-light);
    outline-color: var(--secondary-color);
    background-color: var(--accent-color);
}

footer{
    text-align: center;
    padding: 2%;
}